
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Montserrat&display=swap');


html {
  font-size: 1rem;
  font-family: 'Amiri', serif;
  background-color: #eaeaea;
}

body {
  padding:5rem 0;
  color:#333F48;
}

a {
  text-decoration: none;
  color: #333F48;
}

a:hover {
  text-decoration: underline;
  color: #333F48;
}

main {
  width: 80vw;
  margin: 0 auto;
}

section {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows:min-content;
  grid-gap:2rem;
}

#sessions {
    grid-column:1;
    border-top: 5px solid #7C878E;
    margin-top:3rem;
    padding: 3rem 0;  
}

#students {
    grid-column:2;
    border-top: 5px solid #7C878E;
    margin-top:3rem;
    padding: 3rem 0;  
}


.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  margin-bottom:1rem;
}

h1 {
  font-size:3.375rem;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.5rem;
}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
}
