
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Montserrat&display=swap');

html {
  font-size: 1rem;
  font-family: 'Amiri', serif;
  background-color: #eaeaea;


}

body {
  padding-top:5rem;


}

main {
  width: 90em;
  margin: 0 auto;
}

section {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows:min-content;
}


.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;


}



h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

h1 {
  font-size:5rem;
}
h2 {
  font-size:3.375rem;
}
h3 {
  font-size:2.25rem;
}
h4 {
  font-size:1.5rem;
}
h5 {
  font-size:1;
}

p, li {
  font-size: 1rem;
  line-height: 1.5;
}





img {
  display: block;
  margin: 0 auto;
}
